hello-world { display: block; margin: 10px 0; }
hello-world * { margin: 0; padding: 10px; font-family: sans-serif; }
hello-world h1 { color: #FFF; background-color: #45B; }
hello-world p.message { color: #666; background-color: #EEE; }
